.cardButtom {
  background: #01b88e;
  color: white;
  padding: 80px 10px;
  padding-right: 0px;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.cardButtom .coverButton {
  background: #303d71;
  color: white;
}
.cardButtom .formGetStarted {
  position: relative;
  margin-top: 20px;
}
.cardButtom .form-group{
  width: 100%;
  margin: 0;
  padding: 0;
}
.cardButtom .emailInput {
  position: absolute;
  left: 0;
  border: 2px solid #303d71;
  border-radius: 40px;
  padding: 15px 30px;
  margin: 0;
}
.cardButtom .coverButton {
  position: absolute;
  right: 0;
  outline: none;
  border: 2px solid #303d71;
}
.cardButtom .coverButton:hover {
  border: 2px solid #303d71;
}

.cardButtom .sayThanks{
  position: relative;
  top: 30px;
}